<h2>Network Usage</h2>

<div>
  <p *ngIf="bytesRecv !== null">Bytes Received: {{ bytesRecv }}%</p>
  <p *ngIf="bytesRecv === null">Loading...</p>
  <div *ngIf="bytesRecv !== null">
    <canvas baseChart
            [data]="pieChartDataRecv"
            [options]="pieChartOptions">
    </canvas>
  </div>
</div>

<div>
  <p *ngIf="bytesSent !== null">Bytes Sent: {{ bytesSent }}%</p>
  <p *ngIf="bytesSent === null">Loading...</p>
  <div *ngIf="bytesSent !== null">
    <canvas baseChart
            [data]="pieChartDataSent"
            [options]="pieChartOptions">
    </canvas>
  </div>
</div>
